:root {
    --maincolor: #fff;
    --headcolor: #212121;
    --logocolor: #000;
    --textcolorone: #757575;
    --activecolor: #2196F3;
    --activebtn:#188CE8;
    --bgcolorone: #2F303A;
    --bgcolortwo: #F5F4FA;
    --border-color:#ECECEC;
    --border-color-two: #EEEEEE;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--maincolor);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--maincolor);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, ul, p{
    padding: 0;
    margin: 0;

}
button{
    cursor: pointer;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.list{
    display: flex;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*------------------------HEADER-----------*/

.header {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}
.header-content {
    align-items: center;
    height: 80px;
}
.logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--activecolor);
text-decoration: none;
margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;
}
.headernav {
    align-items: center;
}
.headernavitem{
    margin-right: 50px;
}
.logotwo {
    color: var(--logocolor);
}
.activepage {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--activecolor);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.passivepage {
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--headcolor);
        text-decoration: none;
        padding-top: 32px;
        padding-bottom: 32px;
}
.headercontactlist{
    margin-left: auto;
}
.headermail,
.headerphone {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--textcolorone);
    padding-top: 32px;
    padding-bottom: 32px;

}
.headermail{
    margin-right: 50px;
}
.headermail:hover,
.headerphone:hover, .headermail:focus,
.headerphone:focus {
    color: var(--activecolor);
}

/*-----------------------FOOTER----------------------*/

.footer {
    background-color: var(--bgcolorone);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logothree {
    color: var(--maincolor);

}
.footerlogo{
    padding: 0;
}
.address {
    line-height: 1.71;
    color: var(--maincolor);
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 9px;
}
.footermailitem{
    margin-bottom: 9px;
}
.footermail, 
.footerphone {
    font-weight: 400;
    line-height: 1.71;
    color: var(--maincolor);
    opacity: 0.6;
}
.footermail:hover,
.footerphone:hover, 
.footermail:focus,
.footerphone:focus {
    color: var(--activecolor);
}

/*-----------------------------MAIN SEECTION---------------*/

.mainsection {
    background-color: var(--bgcolorone);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.head {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--maincolor);
    margin-bottom: 30px;
}
.buttonone {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--activecolor);
    color: var(--maincolor);
    padding: 10px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.buttonone:hover,
.buttonone:focus{
background-color: var(--activebtn);
}

/*-----------------------DETAILS-------------------------*/

.details {


}
.detailslist {

}
.detailsitem {
    margin-right: 30px;

}
.detailsitemlast{
    margin-right: 0px;
}
.detailshead {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--headcolor);
    font-size: 14px;
    margin-bottom: 10px;
}
.detailstext {
    line-height: 1.71;
    color: var(--textcolorone);
}

/*-------------------------OUR WORK-----------------*/

.ourwork {
    padding-top: 0;
}
.workhead {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--headcolor);
margin-bottom: 50px;
}
.ourworklist {
    text-align: center;
}
.ourwokkitem {
    margin-right: 30px;
}
.ourwokkitemlast {
    margin-right: 0;
}

/*----------------------------TEAM------------------*/

.team {
    background-color: var(--bgcolortwo);

}
.teamhead{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--headcolor);
    margin-bottom: 53px;
}
.teamlist{
    text-align: center;
}
.teamitem{
    background-color: var(--maincolor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;

}
.teamitemlast {
    margin-right: 0;
}
.name{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--headcolor);
    margin-top: 30px;
    margin-bottom: 10px;
}
.profession{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--textcolorone);
    margin-bottom: 30px;
}

/*------------------------PORTFOLIO---------------------------*/

.portoliobtn{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.portfoliobtnitem {
    margin-right: 8px;
}
.portfoliobtnitemlast {
    margin-right: 0;
}
.activepbtn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--maincolor);
    background-color: var(--activecolor);
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

}
.passivepbtn{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--headcolor);
        background-color: var(--bgcolortwo);
        padding: 6px 22px;
        border-radius: 4px;
        border: none;

}
.activepbtn:hover,.passivepbtn:hover,.passivepbtn:focus, .activepbtn:focus{
    background-color: var(--activecolor);
    color: var(--maincolor);

}
.portfolioall{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

}
.portfolioallitem{
        margin-left: 30px;
        margin-top: 30px;

}
.allitemmenu{
    text-decoration: none;
}
.alltextsection {
    border-left: 1px solid var(--border-color-two);
    border-right: 1px solid var(--border-color-two);
    border-bottom: 1px solid var(--border-color-two);
    padding: 20px 24px;

}
.allhead{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--headcolor);
    margin-bottom: 4px;

}
.alltext{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--textcolorone);

}